<h1>Slide index</h1>
<ul>
{{#each slides}}
    <li><a href="{{ link }}">
        {{{ title }}}
        {{#if subtitle }} - {{{ subtitle }}}{{/if}}
        {{#if indexTitle }} ({{ indexTitle }}){{/if}}
        {{#unless title }}
            {{#if hint }}{{ hint }}{{/if}}
        {{/unless}}
        {{#unless isUnique }}
            {{#unless indexTitle }}
                {{#if hint }} ({{ hint }}){{/if}}
            {{/unless}}
        {{/unless}}
    </a></li>
{{/each}}
</ul>