<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
<html>
<head>
  <title>{{slideNum}} of {{slideTotal}} | {{{presentationTitle}}}</title>
</head>
<frameset rows="55,*">
    <frame src={{slideTitleUrl}} scrolling=no marginwidth=0 marginheight=0>
    {{{slideContent}}}
</frameset>
</html>