<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
<html>
<head>
  <title>{{slideNum}} of {{slideTotal}} | {{{presentationTitle}}}</title>
</head>
<frameset rows="50,50">
    {{{slideContent}}}
</frameset>
{{!--<body bgcolor="0d56c9" link="#ffffff" alink="#ffffff" vlink="#ffffff">
<table border="0" cellpadding="0" cellspacing="0" width="100%">
    
    
    <tr valign="bottom">
        <td width="100%" colspan="9" cellpadding="0" cellspacing="0">
            <table width="100%" height="1">
                <tr>
                {{#if prevSlide}}
                    <td width="25%" align="left">
                        <a href="{{prevSlide}}"><font size="6">&lt; Prev</font></a>
                    </td>
                {{/if}}
                {{#if nextSlide}}
                    <td width="25%" align="right">
                        <a href="{{nextSlide}}"><font size="6">Next &gt;</font></a>
                    </td>
                {{/if}}
                </tr>
            </table>
        </td>
    </tr>
    
</table>
</body>--}}
</html>