<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
<html>
<head>
    <link rel="stylesheet" href="/slides.css">
    {{#if slide.stylesheet}}<link rel="stylesheet" href="{{ slide.stylesheet }}">{{/if}}
</head>
<body text="{{ theme.text }}" bgcolor="{{#if slide.bgcolor}}{{ slide.bgcolor }}{{else}}{{ theme.bgcolor }}{{/if}}"
    link="{{ theme.text }}" alink="{{ theme.text }}" vlink="{{ theme.text }}" marginheight=0 marginwidth=0>{{{ bodyContent }}}</body>
</html>