<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
<html>
<head>
  <title>{{slideNum}} of {{slideTotal}} | {{{presentationTitle}}}</title>
</head>
<frameset rows="*,50">
    <frame src={{slideContentUrl}}>
    <frame src={{slideNavigationUrl}}>
</frameset>
</html>