<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
<html>
<body text="{{ theme.text }}" bgcolor="{{#if slide.bgcolor}}{{ slide.bgcolor }}{{else}}{{ theme.bgcolor }}{{/if}}" 
    link="{{ theme.text }}" alink="{{ theme.text }}" vlink="{{ theme.text }}">
    {{{ bodyContent }}}
</body>
</html>