<tr valign="top">
    <td width="50">{{{ spacer 50 }}}</td>
    <td align="left" width=100%>
        {{{ spacer 1 5 }}}<br>
        <h1><font color={{ theme.title }}>{{ toUpperCase title }}</h1>
    </td>
    <td width="50">{{{ spacer 50 }}}</td>
</tr>
<tr>
    <td>&nbsp;</td>
    <td><img src=/images/{{ theme.highlight }}-px.gif width=100 height=5 alt=''></td>
</tr>
<tr><td height=50>&nbsp;</td></tr>
<tr valign="top">
    <td width=50>&nbsp;</td>
    <td align="left">
        <font color=#eeeeee size={{ fontSize }}><pre><code><strong>{{{ code }}}</strong></code></pre></font>
    </td>
</tr>
