<table width=100% cellpadding=0 cellspacing=0 border=0>
<tr><td height=50>&nbsp;</td></tr>
<tr valign="top">
    <td height=500>&nbsp;</td>
    <td align="left" width=100%>
        <font face="{{ theme.fontFace }}" color={{ theme.text }} size=8>{{{ body }}}</font>
    </td>    
</tr>
<tr>
    <td height=40>&nbsp;</td>
    <td valign=top><img src=/images/ffab00-px.gif width=100 height=5></td>
</tr>
    <td>&nbsp;</td>
    <td align=left>
        <font face="{{ theme.fontFace }}" color={{ theme.text }} size=6>
            {{#if byLine}}{{ byLine  }}{{ else }}{{ title }}{{/if}}
    </td>
</tr>
</table>