<tr valign="top">
    <td width="50" height="100"></td>
    <td align="left" width=100%>
        <font color={{ theme.title }}><h1>{{ toUpperCase title }}</h1></font>
        <img src=/images/{{ theme.highlight }}-px.gif width=100 height=5 alt=''>
    </td>    
</tr>
<tr valign="center">
    <td align="center" colspan=2>
        <font color={{ theme.text }} size=4>
        {{{ body }}}
        </font>
    </td>
</tr>
