<tr valign="top">
    <td width="50" height="100">{{{ spacer 50 }}}</td>
    <td align="left" width=100%>
        <font color={{ theme.title }}><h1>{{ toUpperCase title }}</h1></font>
        <img src=/images/{{ theme.highlight }}-px.gif width=100 height=5 alt=''>
    </td>    
</tr>
<tr valign="top">
    <td width=50>&nbsp;</td>
    <td align="left">
        <font color=#ffffff size=6><pre><code>{{{ code }}}</code></pre></font>
    </td>
</tr>
